{% extends 'base.html' %}
{% block content %}

<article class="home-content" style="display: flex;flex-wrap: wrap;">
    {% for post in posts %}
        <div class="mycontainer">
  <div class="card">
    <div class="card-header">
      <img src="{{ post.image.url }}" alt="rover" />

    </div>
      <p style="margin-bottom: 0rem;font-size: 15px;
    margin-left: 75px;"> {{ post.date_posted|date:"F d, Y" }}</p>
    <div class="card-body">
      <h4 style="margin-top: 0rem;">
        {{ post.title }}
      </h4>
      <p style="word-break: break-word;">
        {{ post.content }}
      </p>
    </div>
  </div>

</div>
    {% endfor %}



{#    {% if is_paginated %}#}
{##}
{#    {% if page_obj.has_previous %}#}
{#    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>#}
{#    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>#}
{#    {% endif %}#}
{##}
{#    {% for num in page_obj.paginator.page_range %}#}
{#    {% if page_obj.number == num %}#}
{#    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"#}
{#        href="?page={{ num }}">{{ num }}</a>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{##}
{#        {% if page_obj.has_next %}#}
{#        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>#}
{#        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>#}
{#        {% endif %}#}
{##}
{#        {% endif %}#}
</article>

{% endblock content %}